// Brand colors
// -------------------------

$blue-light:            #0080d7 !default;
$blue-dark:             #0054bc !default;
$orange:								#f18831 !default;
//BBVA colors
$blue-bbva:             #009ee5;
$blue-dark-bbva:        #094691;
